<a href="https://colab.research.google.com/github/dejandrea/Bootcamp-Gera--o-Tech-Unimed-BH---Ci-ncia-de-dados-Python/blob/master/Pandas_Aula5_Dio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Análise de Dados com Pandas

In [ ]:
#importando a biblioteca
import pandas as pd

In [ ]:
#leitura dos arquivos
df1 = pd.read_excel("/content/drive/MyDrive/datasets/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/datasets/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/datasets/Natal.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/datasets/Recife.xlsx")
df5 = pd.read_excel("/content/drive/MyDrive/datasets/Salvador.xlsx")

In [ ]:
#juntando os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [ ]:
#Exibindo as 5 primeiras linhas
df.head()

In [ ]:
#Exibindo as 5 últimas linhas
df.tail()

In [ ]:
#mostra do conjunto de dados
df.sample(10)

In [ ]:
#tipo de dados de cada coluna
df.dtypes

In [ ]:
#alterar tipo de dados de um coluna
df['LojaID'] = df['LojaID'].astype('object')

In [ ]:
#tipo de dados de cada coluna
df.dtypes

In [ ]:
#consultando linhas com valores em branco
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#substituindo os valores nulos por média (em memória)
df['Vendas'].fillna(df['Vendas'].mean(),inplace=True)

In [ ]:
#substituindo os valores nulos por zero
df['Vendas'].fillna(0,inplace = True)

In [ ]:
#Apagando linhas com valores nulos
df.dropna(inplace=True)

In [ ]:
#Apagando linhas com valores nulos com base apenas em uma coluna
df.dropna(subset=['Vendas'],inplace=True)

In [ ]:
#Removendo linhas que estejam com valores faltantes, em todas as colunas
df.dropna(how='all',inplace=True)

Criando novas colunas